{{define "main"}}
{{if .Site.Params.displayHomeContent}}
{{.Content}}
{{end}}
{{if ne .Site.Params.displayRecent false}}
<div class="section">
    <div class="section-title">recent</div>
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{range first (default  4 .Site.Params.recentMax) (where $pages "Section" "ne" .Site.Params.microBlogSection)}}
    <div class="list-item">
        <a class="entry-title" href="{{ .Permalink }}">{{ .Title }}</a>
        {{$page := .}}
        {{with .Description}}
        <p>{{.}}</p>
        {{end}}
        <div class="meta">
            {{with .Date}}
            <i class="far fa-calendar-alt"></i> {{.Format "2006 Jan 02 15:04"}}
            {{end}}
            <br>
            {{with .Params.tags}}
            <i class="fas fa-tags"></i>
            Tags: {{ delimit . ", " }}
            {{end}}
        </div>
    </div>
    {{end}}
</div>
{{end}}

{{if .Site.Params.displayMicroBlog}}
<div class="section">
    <div class="section-title">μblog</div>
    <div class="posts">
        {{ range where (where site.RegularPages "Type" "in" site.Params.microBlogSection) "Params.pinned" true }}
        <div class="post">
            <div class="meta pinned"> <i class="fas fa-thumbtack"></i> pinned </div>
            <a class="entry-title" href="{{ .Permalink }}">{{ .Title }}</a>
            <div class="post-content">
                {{.Content}}
            </div>
            <div class="meta post-footer">
                <span>{{.Date.Format "2006 Jan 2 15:04"}}</span>
                <a href="{{ .Permalink }}"><i class="fas fa-link"></i>link</a>
            </div>
        </div>
        {{ end }}
        {{ range first (default 4 .Site.Params.microMax) (where (where site.RegularPages "Type" "in" site.Params.microBlogSection) "Params.pinned" "ne" true)}}
        <div class="post">
            {{if ne .Params.pinned nil}}
            <div class="meta pinned"> <i class="fas fa-thumbtack"></i> pinned </div>
            {{end}}
            <h1 style="text-align: center;"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <div class="post-content">
                {{.Content}}
            </div>
            <div class="meta post-footer"> 
                <span>{{.Date.Format "2006 Jan 2 15:04"}}</span> 
                <a href="{{ .Permalink }}"><i class="fas fa-link"></i> link</a>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{end}}
{{end }}